.foodSearch{
  text-align: center;
  background-color: white;
}

.allergyForm{
  padding: 15px;
}

.foodTerm{
  width: 350px;
  /* height: 30px; */
}

.allergyButton{
  margin: 10px;
}

.allergyImg{
  height:auto;
  width: 500px;
}

.search-notes{
  font-size: 17px;
}

.search-notes2{
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.search-notes2 a{
  text-decoration: none;
}

@media only screen and (max-width: 640px) {

  .allergyImg {
    width:100%;
  }

  .foodTerm{
    width: 100%;
  }

}

