*{
 /*  background-color: #131515; */
  font-family: 'Lora', serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.AppBody {
  text-align: center;
  margin-top: 50px;
}

h1{
  text-align: center;
}

/* tab styling */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #7DE2D1;;
  float: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-size: 18px;
  background-color:#7DE2D1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #339989;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}