.comments{
  text-align: center;
}

.hidden{
  display: none;
}

.expanded {
  display: block;
}

#ExpandedInformation {
  text-align: left;
}

.commentText {
  height: 40px;
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.commentButton {
  border-radius: 10px;
}