nav {
	position: relative;
	height: 10%;
  padding: 1em;
  font-family: 'Lora', serif;
}
.clearfix {
  display: inline;
}

nav ul li {
  font-weight: 700;
  font-size: 1.2em;
  list-style: none;
}

.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

nav a {

	color: rgb(24, 31, 54);
}

body {
  background-color: white;
}

.nav-user{
  padding-right: 15px;
  display: inline-block;
}

.nav-logout{
  display: inline-block;
}

.nav-logout:hover{
  cursor: pointer;
}

