nav {
	position: relative;
	height: 10%;
  padding: 1em;
}
.clearfix {
  display: inline;
}

nav ul li {
  font-weight: 700;
  font-size: 1.2em;
  list-style: none;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {

	color: rgb(24, 31, 54);
}

body {
  background-color: white;
}

