/* Map {
  width: 50%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
}; */

/* #map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}  */

.pharmaSearch{
  padding: 10px;
  text-align: center;
}

.map{
  padding: 20px;
}

.footnote{
  font-size: 15px;
}

/* .pharmaButton {
  margin: 5px;
} */