.postfood{
  text-align: center;
}

label {
  text-align: right;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}

.input {
  padding: 10px;
}

p{
  padding-bottom: 10px;
}

.postButton {
  margin: auto;
  margin: 20px;
}

.name {
  width: 195.50px;
}

.postText {
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}