label {
  width: 140px;
  text-align: right;
  padding: 10px;
}

.input {
  padding: 5px;
  text-align:center;
}

p{
  padding-bottom: 10px;
}

.button4, .button5 {
  display: inline-block;
  margin: auto;
}

.name {
  width: 195.50px;
}