label {
  width: 140px;
  text-align: right;
  padding: 10px;
}

.input {
  padding: 5px;
  text-align:center;
}

p{
  padding-bottom: 10px;
}

.loginButton, .registerButton {
  display: inline-block;
}

.name {
  width: 195.50px;
}

.register, .login {
  text-align: center;
  vertical-align: 20px;
}

