.pharmaSearch{
  padding: 10px;
  text-align: center;
}

.map{
  padding: 20px;
}

.footnote{
  font-size: 15px;
}

.pharmaButton {
  margin: 10px;
}

.yesErr{
  display: block;
}

.noErr{
  display: none;
}

.errDesc {
  color: red;
  font-size: 15px;
}

